#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

.background {
background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,bot-wn255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}

body{
color:white;
font-family: 'Work Sans', sans-serif;
}

.bot-window{
	border: 1px solid black;
	width:40%;
}

.chat-header{
	background-color: black;
	color:white;
	text-align:center;
	margin-top: -33px;
  font-size: 1.5em;
}

.message-box{
	background-color:white;
  position: relative;
  overflow-y: scroll;
  max-height: 600px;
  min-height: 600px;
}

.message-box .responses{
  padding: 2px 3px 2px 16px;
  border: 1px solid black;
  background-color: grey;
  min-width: 37%;
  float: right;
  border-radius: 11px;
  margin-right: 1%;
}

.message-box .messages{
  padding: 2px 3px 2px 16px;
  border: 1px solid #A9FD35;
  background-color: #C9FF7F;
  max-width: 80%;
  border-radius: 11px;
  margin-left: 1%;
}


.message-bottom{
	background-color: white;
	border:1px solid black;
}

.button{
	padding:7px 11px 9px 13px;
	background-color: #3b3e42;
	font-weight: bold;
	border: none;
	color:white;
	font-family: 'Work Sans', sans-serif;
}

.input-field {
	padding: 10px 5px 10px 5px;
	border:none;
	border-bottom: 2px solid black;
	background-color: transparent;
	width:80%;
	margin-left: 4%;
	font-family: 'Work Sans', sans-serif;
}

.input-field::placeholder {
	color:white;
}
.list-field{
	padding: 10px 5px 10px 5px;
	border:none;
	border-bottom: 1px solid #3b3e42;
	background-color: transparent;
	width:80%;
	margin-left: 8%;
}

.input-field textarea:focus, input:focus{
	border-bottom: 2px solid #93969b;
}

textarea:focus, input:focus{
    outline: none;
    color:white;
}


@media screen and (max-width: 600px) {
	.todo-card {
	border: 1px solid grey;
	width:100%;
	min-height: 133px;
	background-color: #93969b;
	color:white;
	margin-left:0%;
}
}
