
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<link rel="stylesheet" type="text/css" href="skeleton.css">
<link rel="stylesheet" type="text/css" href="normalize.css">
<link rel="stylesheet" type="text/css" href="custom.css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">



<div ng-app="bot">
	<head><meta name="viewport" content="width=device-width, initial-scale=1"></head>
	<body class="background">
		<div style="margin:0 auto;">
			<div ng-controller='testController' class="row">

				<div class="seven columns">
					<div class="chat-header">
						<h5>Toka katha kahuchi</h5>
					</div>


					<div id="content" class="message-box">
						<div ng-repeat="conversation in conversationList">
							<div>
								<div style="color:black;">{{conversation.question}}</div>
								<div style="color:black;font-size:0.8em;margin-left: 2%;">{{conversation.timeStamp}}</div>
							</div>
							<div style="text-align:right;">
								<div style="color:black;margin-top: 5px;">{{conversation.answer}}</div>
								<div ng-repeat="option in conversation.options" style="margin-right:2%;">
									<button class="button" ng-click="selectedFromOption(option.id)">{{option.value}}</button>
								</div>
								<div style="color:black;font-size:0.8em;margin-left: 2%;">{{conversation.timeStamp}}</div>
							</div>
							
						</div>
					</div>

					<div class="message-bottom">
						<div class="row">
							<form>
							<div class="ten columns">
							<input class="u-full-width" style="color: black;" type="text" ng-model="question"/>
							</div>
							<div class="two columns">
							<button class="button-primary" type="submit" onclick="move()" class="button" ng-click="submit()">Send</button></span>
							</div>
						</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</body>
	<script type="text/javascript">
	function move(){
		var elmnt = document.getElementById("content");
		elmnt.scrollIntoView();
		}
	</script>
</div>
