<script type="text/javascript" src="node_modules/angular/angular.js"></script>
<script type="text/javascript" src="app.js"></script>
<link rel="stylesheet" type="text/css" href="custom.css">
<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">



<div ng-app="bot">
	<head><meta name="viewport" content="width=device-width, initial-scale=1"></head>
	<body class="background">
		<div style="margin:0 auto;align:center">
			<div ng-controller='testController' class="row">

				<div class="bot-window">
					<div class="chat-header">
						<h5 style="padding-top:1%; padding-bottom:1%;">Toka katha kahuchi</h5>
					</div>


					<div class="message-box">
						<div ng-repeat="conversation in conversationList" style="margin-top:36px;">
							<div class="messages" style="color:black;">{{conversation.question}}</div>
							<div class="responses" style="color:white;margin-top: 5px;">{{conversation.answer}}</div>
							<div style="color:black;font-size:0.8em;margin-left: 2%;">{{conversation.timeStamp}}</div>
					</div>
				</div>

					<div class="message-bottom">
						<div class="input-message"><span>
						<form>
							<input required style="width: 90%;color: black;margin-top: 2%;margin-left: 5px;padding: 10px 2px 10px 2px;" ng-model="question"/>
							<button type="submit" class="button" ng-click="submit()">Send</button></span>
						</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</body>
</div>
